apiVersion: v1
kind: Service
metadata:
  name: iris-ml-service
spec:
  type: NodePort
  selector:
    app: iris-ml
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080

